body {
  background-color: lightblue; }

nav {
  background-color: lightseagreen; }

section, aside {
  background-color: lightgray; }

table {
  background-color: lightcyan; }

table thead {
  background-color: lightsalmon; }

table tr:nth-child(even) {
  background-color: lightsalmon; }
