//Variables for color
$lightBlue: lightblue;
$lightSeaGreen: lightseagreen;
$lightGray: lightgray;
$lightCyan: lightcyan;
$lightSalmon: lightsalmon;
$lightCoral: lightcoral;


body{
    background-color: $lightBlue;
}

nav{
    background-color: $lightSeaGreen
}

section , aside{
    background-color: $lightGray;
}
table{
    background-color: $lightCyan;
}

table thead{
    background-color: $lightCoral;
}

table tr:nth-child(even){
    background-color: $lightSalmon;
}